pre {
    background-color: lightgray;
    border-radius: 5px;
    padding: 20px
}
img {
    width: 100%;
    border-radius: 5px;
}

body {
    -webkit-font-smoothing: antialiased
}
.home-post-meta {
    font-size: .8rem;
    color: #777;
}
.home-post-subtitle {
    font-style: italic;
    font-weight: 400;
}
.home-post-title {
    font-size: 1.5rem;
    font-weight: 300;
}
.post-title {
    font-weight: 400;
}
.post-meta {
    color: #777;
    font-weight: 400;
}

.card-image {
    max-height: 500px;
}
.post-align {
    margin-left: 15%;
    margin-right: 15%;
}
.post-align figure {
    margin-left: -15%;
    margin-right: -15%;
}
p img {
    width: 100%;
}
/* a img {
    width: auto;
} */
code {
    color: black;
}
ul.posts {
    list-style-type: none;
    padding-inline-start: 0;
}

.highlighter-rouge {
    background-color: #e4e4e4;
    padding: 3px;
}

@media only screen and (max-width: 600px) {
    .post-align {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3rem;
    }
    .post-align figure {
        margin-left: 0;
        margin-right: 0;
    }
}