---
layout: default
---

<div class="row mt-1">
    <div class="col-md-4 offset-md-2">
        {% if page.url != "/" %}
            <a href="/">Home</a>
        {% endif %}
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-8 offset-md-2">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: '%b %d, %Y' }}</p>
        {{ content }}
        
        <!-- center text to be width 60% of page -->
        <!-- images to be width 100% of page -->
    </div>
</div>